[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
matplotlib = "*"
requests = "*"
tqdm = "*"
twarc = "*"
twint = "*"
networkx = "*"
altair = "*"
vega-datasets = "*"
vega = "*"
nx-altair = "*"
savepagenow = "*"
aiohttp-socks = "*"
csvkit = "*"
"psycopg2-binary" = "*"
pygithub = "*"
pyvis = "*"
ipwhois = "*"
python-dotenv = "*"

[dev-packages]
